@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #242424;
  color: white;
  font-family: 'JetBrains Mono', monospace;
}
:where(.css-dev-only-do-not-override-42nv3w).ant-pagination
  .ant-pagination-item
  a {
  color: white;
}
:where(.css-dev-only-do-not-override-42nv3w).ant-pagination
  .ant-pagination-prev
  button,
:where(.css-dev-only-do-not-override-42nv3w).ant-pagination
  .ant-pagination-next
  button {
  color: white;
  cursor: pointer;
  user-select: none;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-pagination
  .ant-pagination-prev
  button,
:where(.css-dev-only-do-not-override-42nv3w).ant-pagination
  .ant-pagination-next
  button {
  color: white;
  cursor: pointer;
  user-select: none;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-pagination
  .ant-pagination-disabled
  .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-42nv3w).ant-pagination
  .ant-pagination-disabled:hover
  .ant-pagination-item-link {
  color: #8c8c8c;
  cursor: not-allowed;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-pagination
  .ant-pagination-item-active {
  font-weight: 600;
  background-color: #242424;
  border-color: white;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-btn-primary {
  background-color: #242424;
  border-color: #242424;
  color: white;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-btn-primary {
  background-color: #242424;
  border-color: #242424;
  color: white;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-btn-primary:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  background-color: #ffffff;
  border-color: #242424;
  color: #242424;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-btn-default:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  background-color: #ffffff;
  border-color: #242424;
  color: #242424;
}
